<nav class="w-full flex items-center justify-between bg-dark-charcoal">
  <app-sidebar
    (toggleSidebarVisible)="toggleSidebar()"
    [isVisible]="sidebarOpen"
  ></app-sidebar>

  <button
    (click)="toggleSidebar()"
    type="button"
    class="w-14 h-14 flex justify-center items-center bg-onyx hover:bg-fire-opal cursor-pointer border-none outline-none"
  >
    <img src="assets/icon-menu.svg" alt="icon menu" />
  </button>

  <div class="flex-1 flex items-center ml-5">
    <ng-container *ngIf="selectedNote">
      <img src="assets/icon-document.svg" alt="icon document" />

      <input
        [(ngModel)]="selectedNote.title"
        (ngModelChange)="onTitleChange($event)"
        class="text-white w-full ml-4 border-b-1 border-t-1 outline-none border-transparent focus:border-b-white"
        autocomplete="off"
      />
    </ng-container>
  </div>

  <button
    *ngIf="selectedNote"
    (click)="toggleDeletePromptVisibility()"
    type="button"
    class="px-4 h-14 flex justify-center items-center cursor-pointer border-none outline-none"
  >
    <img src="assets/icon-delete.svg" alt="icon delete" />
  </button>

  <button
    (click)="exportNote()"
    type="button"
    class="w-10 h-10 m-2 ml-0 rounded-sm flex justify-center items-center bg-fire-opal hover:bg-atomic-tangerine cursor-pointer border-none outline-none"
  >
    <img src="assets/icon-save.svg" alt="icon save" />
  </button>

  <div
    class="absolute top-0 left-0 w-screen h-screen bg-modal-backdrop font-slab flex justify-center items-center"
    (click)="toggleDeletePromptVisibility()"
    *ngIf="deletePromptVisible && selectedNote"
  >
    <div class="w-[343px] bg-chinese-black p-6">
      <h4 class="text-xl font-bold text-white mb-4">Delete this document?</h4>

      <p class="mb-5 text-lavender-gray text-sm font-light">
        Are you sure you want to delete the '{{ selectedNote.title }}' document
        and its contents? This action cannot be reversed.
      </p>

      <button
        (click)="deleteNote(selectedNote.id, $event)"
        type="button"
        class="text-white w-full py-2 rounded-sm flex justify-center items-center bg-fire-opal hover:bg-atomic-tangerine cursor-pointer border-none outline-none"
      >
        Confirm & Delete
      </button>
    </div>
  </div>
</nav>
