<nav>
  <div class="w-full flex items-center justify-between bg-dark-charcoal">
    <button
      type="button"
      class="w-14 h-14 flex justify-center items-center bg-onyx hover:bg-fire-opal cursor-pointer border-none outline-none"
    >
      <img src="assets/icon-menu.svg" alt="icon menu" />
    </button>

    <div class="flex-1 flex items-center ml-5">
      <img src="assets/icon-document.svg" alt="icon document" />

      <input
        type="text"
        value="welcome.md"
        class="text-white w-full ml-4 border-b-1 border-t-1 outline-none border-transparent focus:border-b-white"
        autocomplete="off"
      />
    </div>

    <button
      type="button"
      class="px-4 h-14 flex justify-center items-center cursor-pointer border-none outline-none"
    >
      <img src="assets/icon-delete.svg" alt="icon delete" />
    </button>

    <button
      type="button"
      class="w-10 h-10 m-2 ml-0 rounded-sm flex justify-center items-center bg-fire-opal hover:bg-atomic-tangerine cursor-pointer border-none outline-none"
    >
      <img src="assets/icon-save.svg" alt="icon save" />
    </button>
  </div>

  <div class="pl-4 bg-cultured flex justify-between items-center">
    <h2 class="text-gray tracking-wider text-base">MARKDOWN NOTES</h2>

    <button
      type="button"
      class="p-4 flex justify-center items-center cursor-pointer border-none outline-none"
    >
      <img src="assets/icon-show-preview.svg" alt="icon show preview" />
    </button>
  </div>
</nav>
