<div class="flex flex-grow w-full">
  <div
    class="flex-1 flex flex-col w-full"
    [ngClass]="showPreview ? 'hidden md:flex' : ''"
  >
    <div
      class="pl-4 h-11 bg-cultured dark:bg-dark-jungle flex-none flex justify-between items-center"
    >
      <h2 class="text-gray tracking-wider text-base">MARKDOWN NOTES</h2>

      <button
        *ngIf="!showPreview"
        (click)="togglePreview()"
        type="button"
        class="p-4 flex justify-center items-center cursor-pointer border-none outline-none"
      >
        <img src="assets/icon-show-preview.svg" alt="icon show preview" />
      </button>
    </div>

    <ng-container *ngIf="selectedNote; else noNote">
      <textarea
        [(ngModel)]="selectedNote.content"
        (ngModelChange)="onContentChange($event)"
        class="bg-white dark:bg-chinese-black px-4 py-1 text-sm flex-grow font-mono text-onyx dark:text-white resize-none w-full border-none outline-none leading-6"
      ></textarea>
    </ng-container>
  </div>

  <div
    *ngIf="selectedNote"
    class="w-0.5 bg-cultured dark:bg-dark-charcoal h-full"
    [ngClass]="showPreview ? 'hidden md:block' : 'hidden'"
  ></div>

  <div class="flex-1 flex flex-col w-full" *ngIf="showPreview && selectedNote">
    <div
      class="pl-4 h-11 bg-cultured dark:bg-dark-jungle flex-none flex justify-between items-center"
    >
      <h2 class="text-gray tracking-wider text-base">PREVIEW</h2>

      <button
        (click)="togglePreview()"
        type="button"
        class="p-4 flex justify-center items-center cursor-pointer border-none outline-none"
      >
        <img src="assets/icon-show-preview.svg" alt="icon show preview" />
      </button>
    </div>

    <div
      class="px-4 py-1 w-full flex-grow markdown-preview overflow-y-auto dark:bg-chinese-black"
      [innerHTML]="renderedContent"
      *ngIf="showPreview"
    ></div>
  </div>
</div>

<ng-template #noNote>
  <div
    class="h-full flex items-center flex-col justify-center p-4 dark:bg-chinese-black"
  >
    <p class="mb-2 font-light text-gray text-center">
      Looks like you deleted everything! Please create a new document
    </p>

    <button
      (click)="addNote()"
      type="button"
      class="text-white px-4 h-10 m-2 ml-0 rounded-sm flex justify-center items-center bg-fire-opal hover:bg-atomic-tangerine cursor-pointer border-none outline-none"
    >
      + New Document
    </button>
  </div>
</ng-template>
