@import "tailwindcss";

@theme {
  --color-dark-charcoal: #2c2d31;
  --color-dark-jungle: #1d1f22;
  --color-chinese-black: #151619;
  --color-onyx: #35383f;
  --color-fire-opal: #e46643;
  --color-atomic-tangerine: #f39765;
  --color-cultured: #f5f5f5;
  --color-gray: #7c8187;
  --color-lavender-gray: #c1c4cb;

  --font-mono: "Roboto Mono", sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));

.markdown-preview {
  font-family: "Roboto Slab", monospace, sans-serif;
  font-style: normal;
  @apply text-onyx dark:text-white;
}

.markdown-preview h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  @apply my-[22px];
}

.markdown-preview h2 {
  font-weight: 200;
  font-size: 28px;
  line-height: 37px;
  @apply my-[24px];
}

.markdown-preview h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  @apply my-[24px];
}

.markdown-preview h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  @apply my-[26px];
}

.markdown-preview h5 {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  @apply my-[26px];
}

.markdown-preview h6 {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  @apply my-[32px] text-fire-opal;
}

.markdown-preview p {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  @apply my-3.5 text-gray dark:text-lavender-gray;
}

.markdown-preview ul {
  @apply my-4 pl-10 list-disc;

  & li {
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    padding-left: 9px;

    &::marker {
      font-size: 6px;
      @apply text-fire-opal;
    }
  }
}

.markdown-preview ol {
  @apply list-decimal my-4 pl-10;

  & li {
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    padding-left: 9px;
  }
}

.markdown-preview blockquote {
  @apply border-l-4 border-l-fire-opal border-0 p-6 bg-cultured dark:bg-dark-charcoal rounded-sm;

  p,
  a {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    @apply text-onyx dark:text-lavender-gray;
  }
}

.markdown-preview code {
  @apply bg-cultured dark:bg-dark-charcoal px-1 rounded;
}

.markdown-preview pre {
  @apply bg-cultured dark:bg-dark-charcoal p-6 rounded my-5 overflow-x-auto;

  code {
    font-family: "Roboto Mono", monospace, sans-serif;
    @apply text-sm font-light px-0;
  }
}

.markdown-preview a {
  @apply underline;
}

body {
  font-family: "Roboto", sans-serif;
}
